.popup__name-form {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin: 54px auto 30px auto;
    font-size: 14px;
    line-height: 17px;
    width: 100%;
    height: 27px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.popup__name-form::-webkit-input-placeholder {
    color: #000000;
}

@media screen and (max-width: 767px) {
    .popup__name-form {
        margin: 75px auto 30px auto;
    }
}