.elements {
    max-width: calc(100% - (2 * 200px));
    margin: 0 auto;
}

@media screen and (max-width: 1279px) {
    .elements {
        max-width: calc(100% - (2 * 72px));
    } 
}

@media screen and (max-width: 1023px) {
    .elements {
        max-width: calc(100% - (2 * 93px));
    } 
}

@media screen and (max-width: 767px) {
    .elements {
        max-width: 100%;
    }   
}